/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */
body {
    font-family: "brevia", sans-serif;
    font-weight: 400;
    font-style: normal;
}

 h1 {
    text-align: center;
}

.gnav-brand-title {
    display: block !important;
}

.hide {
    display: none;
}