.boot {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* flex-flow: column; */
    gap: 20px;
}

.boot_main-img {
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
    border: 1px black solid;
}

.boot_line-item {
    padding: 0 10px;
    margin: 0;
    display: flex;
    font-weight: bold;
}

.boot_line-item  > div > div {
    margin-left: 5px;
    font-weight: normal;
}

h1 {
    text-align: center;
}

.boot_line-item:last-of-type {
    border-bottom: 1px black solid;
}